{% extends "base.html.twig" %}
{% block page_title %}
    <title>Page de {{ utilisateur.login }}</title>
{% endblock %}
{% block link_js %}
    <script defer type="text/javascript" src="{{ asset("js/publications.js") }}"></script>
{% endblock %}
{% block page_content %}
     <main>
         <div class="center">
             <p id="titre-page-perso">Page de {{ utilisateur.login }}</p>
         </div>
         <div id="feed">
             {{ include('publication/publication.html.twig') }}
         </div>
     </main>
{% endblock %}