<!DOCTYPE html>
<html lang="fr">
<head>
    <title>The Feed</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<header>
    <div id="titre" class="center">
        <a href="{{ path('feed') }}"><span>The Feed</span></a>
        <nav>
            <a href="{{ path('feed') }}">Accueil</a>
        </nav>
    </div>
</header>
<main id="the-feed-main">
    <div id="feed">
        {% for publication in publications %}
            <div class="feedy">
                <div class="feedy-header">
                    <a href="">
                        <img class="avatar"
                             src="img/utilisateurs/anonyme.png"
                             alt="avatar de l'utilisateur">
                    </a>
                    <div class="feedy-info">
                        <span>Anonyme</span>
                        <span> - </span>
                        <span>{{ publication.datePublication|date("d/m/Y") }}</span>
                        <p>{{ publication.message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
</body>
</html>